:root{
  --principal: #CEA152;
}

@font-face{
  font-family: 'noah';
  src: url("./../assets/typo/noah-regular.otf")
}
@font-face{
  font-family: 'noah-bold';
  src: url("./../assets/typo/noah-bold.otf")
}

*{
  font-family: 'noah';
}


.rotateCoin{
  animation: rotate 3s ;
}

  @keyframes rotate {
    0%{
      transform: rotateY(0deg);
    }
    100%{
      transform: rotateY(720deg);
    }
  }

.title{
  color:var(--principal);
  font-size: 30px;
}

.contenedor{
  max-width: 1000px;
}

.laureate{
  border: 1px solid black;
}

.card:hover{
  scale: 1.03;
}
.card{
  transition: 0.2s;
}